{% extends "base.html" %}
{% block content %}
    <h4>Conclusion</h4>
<p class="flow-text">
Our experience with the frameworks we selected is a solid 8/10.  This is due to the errors we experienced with hosting the website due to django framework.  The frameworks performed to our expectations, for client-side materialize gave us more options with styling the website.  Materialize was not difficult to configure and same goes with django except when it came with hosting the website.  Yes it was easy to create pages with these frameworks, the libraries they offered also helped with the creation of our project.  The learning curve was not to hectic, it was quite similar at the end.  The thing we would of done differently would be starting the project a bit earlier instead of leaving it to the last week and a half.  We do not regret the frameworks we selected , both django and materialize were easy to learn and implement.
</p>
{% endblock %}