{% extends "base.html" %}
{% block content %}

<h2>Credits</h2>
<h5>1st December 2018</h5>
<h4>Members</h4>
    <h5>Alexandre Roberge-Milanese, 500783139</h5>
    Responsibilities: Programming the entire front and back end and hosting it online, and also fully programming the installation, tutorial and demonstration page.
<br/>
    <h5>Georges Sader, 500634111</h5>
Responsibilities: Writing the Summary Snapshot Presentation about the chosen backend and the conclusion page of the project.
    <br/>
     <h5>Maitreya Meshram, 5007922236</h5>
Responsibilities: Writing the Summary Snapshot Presentation about the chosen frontend and the credits page of the project.
    <br/>

    <h4>REFERENCES</h4>
    <a href="www.materializecss.com">www.materializecss.com</a><br/>
    <a href="www.djangoproject.com">www.djangoproject.com</a><br/>
     <a href="www.stackoverflow.com">www.stackoverflow.com</a><br/>
     <a href="www.google.com">www.google.com</a>
{% endblock %}