{% extends "base.html" %}
{% block content %}
    <div class="container" style="background-color: white">
<h2>Materialize</h2>
    <h3>Summary Snapshot Presentation </h3>
    <br/>
    <h4>POPULARITY</h4>
    <p class="flow-text">Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.</p>

    <h4>STRENGTHS</h4>

    <ol class="flow-text">
  <li>Google Material Design: The entire framework is based on the Material design by Google which has been the entire front end for Android since version 5.0 Lollipop which has since been improving and hence this framework was born for CSS.</li>
  <li>Websites look Alive: With a wide variety of vibrant colors and styles the framework promises to turn heads as one animation is displayed after another. This makes the UI look incredibly lively and active which is best part about it.</li>
  <li>Flabbergasting to Implement and Use: With self-explanatory commands and great written documentations with live demos and tutorials on using it, even the other top Frameworks have a to take a note form Materialize.</li>
</ol>

    <h4>WEAKNESSES</h4>

    <ol class="flow-text">
  <li>It can be hard to discern interactive elements: The flat elements of the UI makes it hard to distinguish for the user to know which are the interaction elements and which of them are active</li>
  <li>Materialize Design uses lot of Animations: Not that animations are a bad thing but sometimes using extensive rendering power is not the best option as some systems might require more computing power than the others which might lead to a laggy UI.</li>
  <li>Cognitively Distracting: With repetitive use of vibrant colors and images which makes the UI more lively, takes the life out of users and can make text or other items hard to differentiate or read. Also, the use of many animations the user can be more focused on the animation than the actual task they’re up to doing.</li>
</ol>

        <h4>DEVELOPER USE</h4>

    <p class="flow-text">
Many Developers who are in the favor of the Google Material UI (74.4%) have great appreciation for using this UI. The responsive, easy to use and greatly documented Framework makes it a first choice for developers who want a Modern and live looking UI which does what its supposed to in a way where life comes to software interaction, and does nothing less. Materialize is more opinionated than Bootstrap which makes it sort of limited in terms of making element styles which is great for Developers who want to work with consistency and make a great looking page easily and fast.
    </p>

    <h2>Django</h2>
    <h3>Back end framework</h3>

    <h4>Popularity</h4>
    <p class="flow-text" >Python is one of the most popular programming languages out there due to its easiness to use, learn, design capabilities, and its flexibility.  Since django is an open source framework, it gets updated frequently by the active community behind it.</p>
  <h4>Strengths</h4>
    <p class="flow-text" >Strengths of django framework are scalability, security, and support.  In terms of support, django has an active community, django is supported by Django software Foundation, this means there is a code of conduct allowing it to be a toxic free community. Another strength of django is its security. According to djangoproject website, the django framework prevents a lot of common mistakes such as cross site scripting(XSS), cross site request forgery, SQL injection etc. Scalability is another strength of django framework. Since django framework is a series of components and these components independent so they are not dependent on each other, this allows the user to  remove or replace components as they please.</p>
    <h4>Weaknesses</h4>
    <p class="flow-text">	Weaknesses of django framework are: uses routing to specify URLs, monolithic, its really heavy for smaller projects.  Django uses regex to specify its URLs routing patterns making it larger and more complicated.  Another weakness of django framework is its feature heavy allowing users to create large projects but it is not ideal for users who want to create smaller projects. Due to the amount of features django offers it hinders the performance for smaller projects.</p>
    <h4>Conclusion</h4>
    <p class="flow-text">Developers that are mostly likely to use django framework are the ones who are creating large projects, so they are able to utilize the many features django framework has to offer. The type of websites that would use django are usually social media websites or news websites, for example some popular websites that uses django framework are Instagram, Pinterest, National Geographic, The Washington Post.</p>
    </div>



{% endblock %}